<html>
<head>
    <title>Freecharge.in - Recharge Made Free</title>
    <style type="text/css">
        body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
        }
    </style>
</head>
<body style="margin:0; background-color:#eaedef">
<table width="100%" border="0" style="" cellspacing="0" cellpadding="0" align="center">
<tr>
<td>
<table width="540" border="0" align="center" cellpadding="0" cellspacing="0" style="padding: 0px; background-color: #fafafa;">
    <tr>
        <td>
            <table width="100%" border="0" style="border-spacing: 0;">
                <tr>
                    <td height="80" style="font-size:16px; padding: 0px 32px 0 32px; font-family:Arial, Helvetica, sans-serif; color: #34495e; border-bottom: 1px solid #34495e;">
                        <img src="https://s3-ap-south-1.amazonaws.com/fccontent-s3/content/images/ardeal/reward_mailer/freecharge-mailer-logo.png" alt="FreeCharge" title="Freecharge">
                    </td>
                </tr>
                <tr>
                    <td height="20">

                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" width="450" style="border-spacing: 0; margin: 0 auto;" align="center">
                            <tr>
                                <td style="font-size:15px; line-height:22px; font-family:Arial, Helvetica, sans-serif; color: #34495e;">
                                    Reward Name : ${additionalReward.rewardName} [${additionalReward.id}]</td>
                            </tr>
                            <tr>
                                <td height="12">

                                </td>
                            </tr>
                            <tr>
                                <td height="12"><table width="100%"   cellspacing="0" cellpadding="0" border="0" style="border:1px solid #CCCCCC;"  >
                                    <tr>
                                        <td width="28%" valign="top" style="padding:3px 1%; margin:0; border:1px solid #CCCCCC; font-weight:bold; font-size:12px; line-height:22px; font-family:Arial, Helvetica, sans-serif; color: #34495e;" >Reward value:</td>
                                        <td width="68%" valign="top" style="padding:3px 1%; margin:0; border:1px solid #CCCCCC; font-size:12px; line-height:22px; font-family:Arial, Helvetica, sans-serif; color: #34495e;" >${additionalReward.rewardValue}
                                            #if($oldAdditionalReward && ${oldAdditionalReward.rewardValue} ne ${additionalReward.rewardValue})
                                                <br><span style="color:#FF0000; font-size:12px;" > was ${oldAdditionalReward.rewardValue}</span>
                                            #end
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="28%" valign="top" style="padding:3px 1%; margin:0; border:1px solid #CCCCCC; font-weight:bold; font-size:12px; line-height:22px; font-family:Arial, Helvetica, sans-serif; color: #34495e;" >Reward Discount type:</td>
                                        <td width="68%" valign="top" style="padding:3px 1%; margin:0; border:1px solid #CCCCCC; font-size:12px; line-height:22px; font-family:Arial, Helvetica, sans-serif; color: #34495e;" >${additionalReward.rewardDiscountType}
                                            #if($oldAdditionalReward && ${oldAdditionalReward.rewardDiscountType} ne ${additionalReward.rewardDiscountType})
                                                <br><span style="color:#FF0000; font-size:12px;" > was ${oldAdditionalReward.rewardDiscountType}</span>
                                            #end
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="28%" valign="top" style="padding:3px 1%; margin:0; border:1px solid #CCCCCC; font-weight:bold; font-size:12px; line-height:22px; font-family:Arial, Helvetica, sans-serif; color: #34495e;" >Reward Max Discount:</td>
                                        <td width="68%" valign="top" style="padding:3px 1%; margin:0; border:1px solid #CCCCCC; font-size:12px; line-height:22px; font-family:Arial, Helvetica, sans-serif; color: #34495e;" >${additionalReward.rewardMaxDiscount}
                                            #if($oldAdditionalReward && ${oldAdditionalReward.rewardMaxDiscount} ne ${additionalReward.rewardMaxDiscount})
                                                <br><span style="color:#FF0000; font-size:12px;" > was ${oldAdditionalReward.rewardMaxDiscount}</span>
                                            #end
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="28%" valign="top" style="padding:3px 1%; margin:0; border:1px solid #CCCCCC; font-weight:bold; font-size:12px; line-height:22px; font-family:Arial, Helvetica, sans-serif; color: #34495e;" >Reward Condition id:</td>
                                        <td width="68%" valign="top" style="padding:3px 1%; margin:0; border:1px solid #CCCCCC; font-size:12px; line-height:22px; font-family:Arial, Helvetica, sans-serif; color: #34495e;" >${additionalReward.rewardConditionId}
                                            #if($oldAdditionalReward && ${oldAdditionalReward.rewardConditionId} ne ${additionalReward.rewardConditionId})
                                                <br><span style="color:#FF0000; font-size:12px;" > was ${oldAdditionalReward.rewardConditionId}</span>
                                            #end
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="28%" valign="top" style="padding:3px 1%; margin:0; border:1px solid #CCCCCC; font-weight:bold; font-size:12px; line-height:22px; font-family:Arial, Helvetica, sans-serif; color: #34495e;" >Reward Freefund classId:</td>
                                        <td width="68%" valign="top" style="padding:3px 1%; margin:0; border:1px solid #CCCCCC; font-size:12px; line-height:22px; font-family:Arial, Helvetica, sans-serif; color: #34495e;" >${additionalReward.freefundClassId}
                                            #if($oldAdditionalReward && ${oldAdditionalReward.freefundClassId} ne ${additionalReward.freefundClassId})
                                                <br><span style="color:#FF0000; font-size:12px;" > was ${oldAdditionalReward.freefundClassId}</span>
                                            #end
                                        </td>
                                    </tr>

                                </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="32">

                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:15px; line-height:22px; font-family:Arial, Helvetica, sans-serif; color: #34495e;">
                                    Changes Made By : ${curUserEmail}</td>
                            </tr>
                            <tr>
                                <td height="12">

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="50">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</td>
</tr>
</table>
</body>
</html>