<html>
<head>
<title>Freecharge.in - Recharge Made Free</title>
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
</style>
</head>
<body bgcolor="#f0f0f0">
<table width="100%" border="0" style="border:1px solid #ededed;" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td bgcolor="#f0f0f0"><table width="540" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="30" bgcolor="#f0f0f0" valign="middle" align="center"  style="font-size:10px; color:#9c9c9e;  font-family:Arial, Helvetica, sans-serif;"  >If you are not able to view this mailer properly, please <a href="https://img.freecharge.in/content/images/campaign_mailer/bigflix/index.html" style="color:#6a6666; text-decoration:underline;" target="_blank" >Click Here</a></td>
        </tr>
        <tr>
          <td height="13" bgcolor="#FFFFFF"></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><table width="540" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
              <td width="14" height="82">&nbsp;</td>
              <td width="526" height="82" align="left" style="font-size:14px; color:#213d7a; font-weight:bold; font-family:Arial, Helvetica, sans-serif;" valign="top"><a href="https://www.freecharge.in/?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=logo&amp;utm_campaign=bigflix" style="text-decoration:none; color:#213d7a;" target="_blank"><img src="https://d32vr05tkg9faf.cloudfront.net/content/images/freecharge_logo.gif" width="194" height="74" border="0" alt="FreeCharge.in&trade;" title="FreeCharge.in&trade;" align="top" style="padding:0; margin:0; display:inline block;" /></a></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td align="center" valign="bottom" bgcolor="#FFFFFF"><img src="https://d32vr05tkg9faf.cloudfront.net/content/images/ardeal/shadow_01.gif" alt="" width="540" height="6" border="0" style="padding:0; margin:0; display:inline block;" /></td>
        </tr>
        <tr>
           <td height="7" bgcolor="#FFFFFF" ></td>
        </tr>
        <tr>
        	<td bgcolor="#FFFFFF" valign="top" align="center" style="padding:0 0 11px 0;" ><table width="518" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td bgcolor="#d3223f" valign="top" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="230" valign="top" style="color:#ffffff; font-size:20px; font-family:'Open Sans',Arial,sans-serif; font-weight:bold; " ><img src="https://d32vr05tkg9faf.cloudfront.net/content/images/ardeal/img_01.gif" width="230" height="162" alt="Congrats!" title="Congrats!" border="0" style="padding:0; margin:0; display:inline block;" /></td>
                    <td width="275" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td valign="top" style="font-size:12px; font-family:'Open Sans',Arial,sans-serif; color:#ffffff;" ><img src="https://d32vr05tkg9faf.cloudfront.net/content/images/ardeal/img_02.gif" width="275" height="125" alt="Unlimited movies with BigFlix at just Re.1" title="Watch unlimited movies with BigFlix by subscribing for a monthly membership at just Re.1 (Worth Rs.249)" border="0" style="padding:0; margin:0; display:inline block;" /></td>
                      </tr>
                      <tr>
                        <td bgcolor="#ffffff" height="26" style="font-size:14px; color:#333333; font-weight:normal; font-family:'Open Sans',Arial,sans-serif;" valign="middle" >&nbsp; Your BigFlix code is :  &nbsp; <b style="font-weight:bold;" >${voucherCode}</b></td>
                      </tr>
                    </table></td>
                    <td width="13"></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                 <td bgcolor="#FFFFFF" height="12"></td>
              </tr>
              <tr>
              	<td width="230" valign="top" ><a href="http://www.bigflix.com/campaign/freecharge/310" style="text-decoration:none; font-size:20px; color:#333333; font-family:Arial, Helvetica, sans-serif;" target="_blank"><img src="https://d32vr05tkg9faf.cloudfront.net/content/images/ardeal/img_03.gif" width="518" height="230" alt="Subscribe Now!" title="Subscribe Now!" border="0" style="padding:0; margin:0; display:inline block;" /></a></td>
              </tr>
            </table></td>
        </tr>
        <tr>
            <td bgcolor="#4d4d4d" height="12" ></td>
          </tr>
          <tr>
            <td bgcolor="#4d4d4d" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#b9b9b9; line-height:22px;">Check out other killer coupons on <a href="https://www.freecharge.in/?utm_source=newsletter&utm_medium=email&utm_term=freecharge&utm_campaign=bigflix"  target="_blank" style="color:#b9b9b9; text-decoration:none;">FreeCharge.in</a></td>
          </tr>
          <tr>
            <td valign="top" align="center" bgcolor="#4d4d4d" style="line-height:18px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:10px;">
                 <a href="https://www.freecharge.in/?utm_source=newsletter&utm_medium=email&utm_term=category&utm_campaign=bigflix" target="_blank" style="color:#a9a9a9; text-decoration:none;">Food &amp; Beverage &nbsp;  | &nbsp; Electronics &nbsp;  | &nbsp; Clothings &nbsp; | &nbsp; Online Shopping &nbsp;&amp;&nbsp;  more...</a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#4d4d4d" height="18" ></td>
          </tr>
        </table>
</td></tr></table>
</body>
</html>