<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Facebook sharing information tags -->
        <meta property="og:title" content="*|MC:SUBJECT|*" />
        <meta name="format-detection" content="telephone=no" />
        <title>*|MC:SUBJECT|*</title>
        <style type="text/css">
        /* Client-specific Styles */
            /* Client-specific Styles */
			#outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
			#outlook table{margin: 0 auto;}
			#outlook body{color: #000; font-size: 12px;margin:0; padding:0;}
			body{width:100% !important;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
			body { font-family:arial, helvetica, sans-serif; margin:0; padding:0;}
			img {border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
			table td {border-collapse:collapse; }
			#backgroundTable{height:100% !important; margin:0; padding:0; width:100% !important;}
                /****** EMAIL CLIENT BUG FIXES - BEST NOT TO CHANGE THESE ********/
			.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
				line-height: 100%;
				}
			.ExternalClass {width: 100%;}
			body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;} /* Prevents Webkit and Windows Mobile
                        platforms from changing default font sizes. */
                /****** END BUG FIXES ********/
                /****** RESETTING DEFAULTS, IT IS BEST TO OVERWRITE THESE STYLES INLINE ********/
			p {margin:0; padding:0; margin-bottom:0;}
		   h1, h2, h3, h4, h5, h6 {
			   color: black;
			   line-height: 100%;
			   }
		   a, a:link {
			   color:#0000ff;
			   text-decoration: underline;
			   }
               /****** END RESETTING DEFAULTS ********/
               /****** EDITABLE STYLES - FOR YOUR TEMPLATE ********/
			body, #body_style {

				font-family:Arial, Helvetica, sans-serif;
				font-size:12px;
				}
			  span.yshortcuts {  background-color:none; border:none;}
			  span.yshortcuts:hover,
			  span.yshortcuts:active,
			  span.yshortcuts:focus { background-color:none; border:none;}
			  /*Optional:*/
			  a:visited { color:#0000ff; text-decoration: none}
			  a:focus   { color:#0000ff; text-decoration: underline}
			  a:hover   { color:#0000ff; text-decoration: underline}
				/*Optimizing for mobil devices - (optional)*/
			@media only screen and (max-device-width: 480px) {
				   body[yahoo] #container1 {display:block !important}
				   body[yahoo] p {font-size: 10px}
			}

			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
				   body[yahoo] #container1 {display:block !important} /*example style*/
				   body[yahoo] p {font-size: 10px} /*example style*/
			}
       </style>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" style=" font-family:Arial, Helvetica, sans-serif; font-size:12px" alink="#FF0000" link="#FF0000" text="#000000" yahoo="fix">
        <div id="body_style" style="padding:0">
            <table id="main" width="550" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt; width: 550px;">
                <tr>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;">
                            <tr>
                                <td align="left"><a href="http://freecharge.com/" style="display: block; background-color: #396db5; padding: 10px; text-decoration: none;font-size: 22px; color: #ffffff;"><img src="${stringMap.imgPrefix}/images/logo/freecharge.png" alt="freecharge.com" width="151"  height="34" style="display:block; height:34px; width:151px;" border="0"/></a></td>
                            </tr>
                        </table>
                        <br><br>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;">
                            <tr>
                                <td style="font-size:14px; text-align:left; font-family: arial; text-transform: capitalize;" valign="bottom">Dear ${stringMap.firstname},</td>
                            </tr>
                        </table>
                        <p style="margin: 0; height:20px;">&nbsp;</p>
                        <p style="font-size:14px; color: #000000; margin:0; text-align:left; font-weight:normal;">
                            #if($stringMap.isMetroPay.equals("true"))
                            Your Metro Recharge for Rs. ${stringMap.rechargeamount} was a smashing success!
                            #else
                            Your Bill Payment for Rs. ${stringMap.rechargeamount} was a smashing success!
                            #end
                        </p>
                        <p style="font-size:14px; margin:0 0 0 0; color: #666666; !important; text-align:left; font-weight:normal; mso-line-height-rule:exactly; line-height:30px;">&nbsp;</p>
                        <p style="margin: 0; height:5px;">&nbsp;</p>
                        
                        <table width="100%" cellpadding="3" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt; border-top: 1px solid #eeeeee;">
                            <tr>
                                <td valign="middle" width="17%" align="left" style="color: #888;font-size:12px; border-collapse: collapse; padding-bottom: 7px; padding-top: 7px;">Order Id</td>
                                <td valign="middle" width="1%" style="color:#888; border-collapse: collapse; padding-bottom: 7px; padding-top: 7px;">:</td>
                                <td valign="middle" style="font-size:12px; color:#333; border-collapse: collapse; padding-bottom: 7px; padding-top: 7px;">&nbsp;&nbsp;&nbsp;<a name="num" style="color: #333; text-decoration: none;">${stringMap.orderno}</a></td>
                                <td valign="middle" width="17%" align="left" style="color: #888;font-size:12px; border-collapse: collapse; padding-bottom: 7px; padding-top: 7px;">Date</td>
                                <td valign="middle" width="1%" style="color:#888; border-collapse: collapse; padding-bottom: 7px; padding-top: 7px;">:</td>
                                <td valign="middle" style="font-size:12px; color:#333; border-collapse: collapse; padding-bottom: 7px; padding-top: 7px;">&nbsp;&nbsp;&nbsp;${stringMap.createdAt}</td>
                            </tr>
                            <tr>
                            
                                <td valign="middle" align="left" style="color: #888;font-size:12px; border-collapse: collapse; border-top: 1px solid #eeeeee; padding-top: 7px;">
                                #if($stringMap.isBillPay.equals("true"))
                                    Account No.
                                #else
                                    Mobile No.
                                #end
                                </td>
                                <td valign="middle" style="font-size:12px;color:#888; border-collapse: collapse; border-top: 1px solid #eeeeee; padding-top: 7px;">:</td>
                                <td valign="middle" style="font-size:13px;color:#333; font-weight: bold; border-collapse: collapse; border-top: 1px solid #eeeeee; padding-top: 7px;">&nbsp;&nbsp;&nbsp;<a name="num" style="font-size:12px; color: #333333; text-decoration: none; font-weight: bold;">${stringMap.mobileno}</a></td>
                                <td valign="middle" align="left" style="color: #888; font-size:12px; border-collapse: collapse; border-top: 1px solid #eeeeee; padding-top: 7px;">Operator</td>
                                <td valign="middle" style="font-size:12px;color:#888; border-collapse: collapse; border-top: 1px solid #eeeeee; padding-top: 7px;">:</td>
                                <td valign="middle" style="font-size:12px;color:#333; border-collapse: collapse; border-top: 1px solid #eeeeee; padding-top: 7px;">&nbsp;&nbsp;&nbsp;${stringMap.operator}</td>
                            </tr>
                            <tr>
                                <td colspan="7"><div style="height: 10px;">&nbsp;</div></td>
                            </tr>
                        </table>



                        #set($Integer = 0)
                    #set($Float = 0.0)

                    #set($instaCouponCount = 0)
                    #set($physicalCouponCount = 0)
                    #set($isFirstRecordP = "Y")
                    #set($totalAmtE = 0)
                    #set($isLastRecordE = 0)
                    #set($isLastRecordP = 0)
                    #set($totalAmtP = 0)
                    #set($isFirstRecordE = "Y")
                    #set($handlingCharges = 0)
					#set($crosssellcoupon = 0)
					#set($crosssellcount = 0)
					#set($crosssellamount = 0)
					#set($crossselltotalworth = 0)
					#set($srlCount = 0)
					#foreach( $objmap in $objectMap )
					#if(${objmap.couponType} == "C")
						#set($crosssellcoupon = 1)
						#set($crosssellcount = $crosssellcount + 1)
						#set($crosssellamount = $crosssellamount +  $objmap.crosssellamount)
						#set($crossselltotalworth = $crossselltotalworth + $objmap.couponValue)
					#end
					#end

                    #foreach( $objmap in $objectMap )
                    #if(${objmap.couponType} == "P")
                    #set($physicalCouponCount = $physicalCouponCount+$objmap.count)
                    #set($totalAmtP = $totalAmtP+$objmap.couponValue*$objmap.count)
                    #else 
                    	#if(${objmap.couponType} != "C")
                    	#set($instaCouponCount = $instaCouponCount+$objmap.count)
                    	#set($totalAmtE = $totalAmtE+$objmap.couponValue*$objmap.count)
                    	#end
                    #end
                    #end

                     #set($totalAmtC = $totalAmtE+$totalAmtP)
                    #set($totalCouponCount = $physicalCouponCount+$instaCouponCount)
                    #if(${totalCouponCount} > 0)
                    	#set($handlingCharges = 10)
                    #end
                    #set($rechargeAmt = $stringMap.rechargeamount)
                    #set($freefundAmt = 0)
                    #set( $freefundAmtList = 0)
                    #if($stringMap.freefundamount.indexOf(".") != -1)
                    #set( $freefundAmtList = $stringMap.freefundamount.substring(0, $stringMap.freefundamount.indexOf(".")) )
                    #end
                    #set($freefundAmt = $Integer.parseInt($freefundAmtList))
                    #set( $stringList = $rechargeAmt )
                    #set($rechargeAmtInt = $Integer.parseInt($stringList))
                        #set($totalEarnedAmt = $rechargeAmtInt+$totalAmtC+$crossselltotalworth)

					#set($productTypeInfo = "Product Information")
					#if(${stringMap.productType} == "V")
                    	#set( $productTypeInfo = "Mobile Recharge" )
                    #end
                    #if(${stringMap.productType} == "D")
                    	#set( $productTypeInfo = "DTH Topup" )
                    #end
                    #if(${stringMap.productType} == "C")
                    	#set( $productTypeInfo = "DataCard Recharge" )
                    #end
                    #if(${stringMap.productType} == "M")
                        #set( $productTypeInfo = "Mobile Postpaid Bill Payment" )
                    #end
                    #if($stringMap.isBillPay.equals("true"))
                    	#if($stringMap.isMetroPay.equals("true"))
                        	#set( $productTypeInfo = "Metro Recharge" )
                        #else
                        	#set( $productTypeInfo = "Bill Payment" )
                        #end
                    #end

						<table width="550" border="0" cellpadding="5" cellspacing="0" style="font-family:arial; border:1px solid #eee;" >
							<tr bgcolor="#ffffff">
								<th align="center" width="50" style="padding-top: 9px; padding-bottom: 9px;font-size:12px; color:#ab7f32; "></th>
								<th align="left" style="padding-top: 9px; padding-bottom: 9px;font-size:12px; color:#ab7f32" >Transaction details</th>
								<th align="right" style="padding-top: 9px; padding-bottom: 9px;font-size:12px; color:#ab7f32" colspan="2">Worth</th>
								<th align="right" style="padding-top: 9px; padding-bottom: 9px;font-size:12px; color:#ab7f32">Amount paid</th>
								<th width="15" align="right" style="padding-top: 9px; padding-bottom: 9px;font-size:12px; color:#ab7f32"></th>
							</tr>
							<tr bgcolor="#fdfae8">
								<td align="center" style="font-size:13px; color:#666; line-height:24px;">#set($srlCount = $srlCount+1) $srlCount.</td>
								<td align="left"  style="font-size:13px; color:#333" colspan="2">$productTypeInfo for #if($stringMap.isBillPay.equals("true"))${stringMap.operator}#end <a name="num" style="color:#333; text-decoration: none;"> (${stringMap.mobileno}) </a></td>
								<td align="right" style="font-size:13px; color:#333">Rs.${stringMap.rechargeamount}</td>
								<td align="right" style="font-size:15px; color:#333">Rs.${stringMap.rechargeamount}</td>
								<td width="15" align="right" style="font-size:15px; color:#333"></td>
							</tr>
							#if($allCouponsCount > 0)    
							<tr bgcolor="#fefdf5">
								<td align="center" style="font-size:13px; color:#666; line-height:24px;">#set($srlCount = $srlCount+1) $srlCount.</td>
								<td align="left"  style="font-size:13px; color:#333">($allCouponsCount) Coupons worth</td>
								<td align="right"  style="font-size:13px; color:#333"  colspan="2">Rs.${totalAmtC}</td>
								<td align="right" style="font-size:15px; color:#333">Rs.${stringMap.totalCouponAmount}</td>
								<td width="15" align="right" style="font-size:15px; color:#333"></td>
							</tr>
							
							#if($instaCouponCount > 0) 
							<tr bgcolor="#ffffff">
								<td align="center" style="font-size:11px; color:#666; line-height:24px;"></td>
								<td align="left"  style="font-size:11px; color:#666" colspan="4">INSTA coupon(s) sent on <a name="num" style="color:#666; text-decoration: none;">${stringMap.userEmail}</a></td>
								<td width="15px" align="right" style="font-size:15px; color:#333"></td>
							</tr>
                             #foreach( $objmap in $objectMap )
                    		#if(${objmap.couponType} == "E")
							<tr bgcolor="#f9f9f9">
								<td align="center" style="font-size:11px; color:#fff; border-bottom: 1px solid #ffffff"></td>
								<td align="left"  style="font-size:11px; color:#333; border-bottom: 1px solid #ffffff">${objmap.couponName}</td>
								<td align="left"  style="font-size:11px; color:#333; border-bottom: 1px solid #ffffff">1 x Rs.${objmap.couponValue}</td>
								<td align="right" style="font-size:11px; color:#333; border-bottom: 1px solid #ffffff"></td>
								<td align="right" style="font-size:11px; color:#333; border-bottom: 1px solid #ffffff"></td>
								<td width="15" align="right" style="font-size:15px; border-bottom: 1px solid #ffffff; color:#333"></td>
							</tr>
							 #end
							 #end
							 #end
							
							#if($physicalCouponCount > 0)
							<tr bgcolor="#ffffff">
								<td align="center" style="font-size:11px; color:#666"></td>
								<td align="left"  style="font-size:11px; color:#666" colspan="4">PRINTED coupon(s) sent at your address</td>
								<td width="15" align="right" style="font-size:15px; color:#333"></td>
							</tr>
							#foreach( $objmap in $objectMap )
							#if(${objmap.couponType} == "P")
							<tr bgcolor="#f9f9f9">
								<td align="center" style="font-size:11px; color:#fff; border-bottom: 1px solid #ffffff;"></td>
								<td align="left"  style="font-size:11px; color:#333; border-bottom: 1px solid #ffffff" >${objmap.couponName}</td>
								<td align="left"  style="font-size:11px; color:#333; border-bottom: 1px solid #ffffff">1 x Rs.${objmap.couponValue}</td>
								<td align="right" style="font-size:11px; color:#333; border-bottom: 1px solid #ffffff"></td>
								<td align="right" style="font-size:11px; color:#333; border-bottom: 1px solid #ffffff"></td>
								<td width="15" align="right" style="font-size:15px; border-bottom: 1px solid #ffffff; color:#333"></td>
							</tr>
                            #end
	                        #end
	                        #end
	                        
	                        #if(${stringMap.hasPaidCoupons} != "true")
							<tr bgcolor="#fdfae8">
								<td align="center" style="font-size:13px; color:#666; line-height:24px;">#set($srlCount = $srlCount+1) $srlCount.</td>
								<td align="left"  style="font-size:13px; color:#333" colspan="3">Handling charge</td>
								<td align="right" style="font-size:15px; color:#333">Rs.${stringMap.couponHandlingCharge}</td>
								<td width="15" align="right" style="font-size:15px; color:#333"></td>
							</tr>
							#end
							
							#end
							
                            #if($freefundAmt != 0)
							<tr bgcolor="#fefdf5">
								<td align="center" style="font-size:13px; color:#666; line-height:24px;">#set($srlCount = $srlCount+1) $srlCount.</td>
								<td align="left"  style="font-size:13px; color:#333" colspan="3">FreeFund Discount*</td>
								<td align="right" style="font-size:15px; color:#333">(Rs.${freefundAmt})</td>
								<td width="15" align="right" style="font-size:15px; color:#333"></td>
							</tr>
							<tr bgcolor="#ffffff">
								<td align="left" style="font-size:9px; text-align: center; color:#666" colspan="6">* In case 
								this is a cash-back offer you will receive the cash back of Rs.${freefundAmt} in your 
								FreeCharge credits. Offer T&amp;Cs apply.</td>
							</tr>
                            #end
							#if($crosssellcoupon == 1)
							<tr bgcolor="#fdfae8">
								<td align="center" style="font-size:13px; color:#666; line-height:24px;">#set($srlCount = $srlCount+1) $srlCount.</td>
								<td align="left"  style="font-size:13px; color:#333" colspan="3">($crosssellcount) Special Deal</td>
								<td align="right" style="font-size:15px; color:#333">Rs.${crosssellamount}</td>
								<td width="15" align="right" style="font-size:15px; color:#333"></td>
							</tr>
							#foreach( $objmap in $objectMap )
							#if(${objmap.couponType} == "C")
							<tr bgcolor="#f9f9f9">
								<td align="center" style="font-size:11px; border-bottom: 1px solid #ffffff; color:#fff"></td>
								<td align="left"  style="font-size:11px; border-bottom: 1px solid #ffffff; color:#333">${objmap.couponName}</td>
								<td align="left"  style="font-size:11px; border-bottom: 1px solid #ffffff; color:#333">Rs.${objmap.crosssellamount}</td>
								<td align="right" style="font-size:11px; border-bottom: 1px solid #ffffff; color:#333"></td>
								<td width="15" align="right" style="font-size:15px; border-bottom: 1px solid #ffffff; color:#333"></td>
							</tr>
							#end
							#end
							#end
							<tr bgcolor="#fdf7d5">
								<td align="center" style="font-size:13px; color:#666; padding-top: 7px; padding-bottom: 7px;"></td>
								<td align="left"  style="font-size:16px; color:#666; padding-top: 7px; padding-bottom: 7px;" colspan="2">Total</td>
								<td align="right" style="font-size:16px; color:#AB7F32; padding-top: 7px; padding-bottom: 7px; font-weight:bold">Rs.${totalEarnedAmt}</td>
								<td align="right" style="font-size:20px; color:#333; padding-top: 7px; padding-bottom: 7px; font-weight:bold">Rs.${stringMap.totalPayedAmt}</td>
								<td width="15" align="right" style="font-size:15px; padding-top: 7px; padding-bottom: 7px; color:#333"></td>
							</tr>
						</table>
						
						#if($stringMap.walletAmount != 0)
						<p style="margin: 0; height:20px;">&nbsp;</p>
                        <p style="font-size:12px; margin: 0; color:#000000; text-align:left; font-weight:bold;">There are Rs.${stringMap.walletAmount} FreeCharge Credits in your account. &nbsp; <a href="https://www.freecharge.in/" style=" text-decoration: underline; font-size:11px;">Try another recharge</a></p>
                        #end
                        <p style="margin: 0; height:20px;">&nbsp;</p>
                        <p style="font-size:12px; margin: 0; color:#000000; text-align:left;">Lots of love,</p>
                        <p style="margin: 0; height:5px;">&nbsp;</p>
                        <p style="font-size:12px; margin: 0; color:#000000; text-align:left;">The FreeCharge Family</p>
                        <p style="margin: 0; height:20px;">&nbsp;</p>
                        <p style="font-size:12px; margin:0; color:#000000; text-align:left; font-weight:normal;">This is a system-generated mail, please do not respond to this e-mail Id. Got a question or need clarifications? 
                        You can either visit <a href="http://support.freecharge.in/">support.freecharge.in</a> or write in to <a href="mailto:care@freecharge.com">care@freecharge.com</a> we&#39;ll get in touch with you asap.</p>
                        <p style="margin: 0; height:25px;">&nbsp;</p>
                        <p style="margin: 0; height:25px;">&nbsp; </p>
                        #if($stringMap.imageUrl)
	                        <img src="http://m8.zedo.com/log/p.gif?a=1779105;c=2427000007;x=3840;n=2427;e=i;i=0;s=2;z=${stringMap.timestamp}" style="display: none">
	                        <p style="margin: 0; height:125px;">
	                            
	                                <a href="${stringMap.aTagUrl}">
	                                    <img src="${stringMap.imageUrl}" width="550" height="100" alt=""  />
	                                </a>
	                            
	                        </p>
                        #end
                        <!-- #if(${stringMap.showCampaignCouponBanner} != "false") -->
                        <!-- #end -->
                    </td>
                </tr>
            </table>
        </div>
        #if(${stringMap.userAgentTrack} == "true")
            <img src="${stringMap.userAgentRecordUrl}"/>
        #end
    </body>
</html>
