<html>
<head>
    <title>FreefundCode Upload Status Notification</title>
    <style type="text/css">
        body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
        }
    </style>
</head>
<body style="margin:0; background-color:#eaedef">
<table width="100%" border="0" style="" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td>
            <table width="540" border="0" align="center" cellpadding="0" cellspacing="0" style="padding: 0px; background-color: #fafafa;">
                <tr>
                    <td>
                        <table width="100%" border="0" style="border-spacing: 0; padding: 0px 32px 32px 32px;">
                                <tr>
                                    <td height="80" style="font-size:16px; font-family:Arial, Helvetica, sans-serif; color: #34495e; border-bottom: 1px solid #34495e;">
                                        ${action} ${count} number of codes for campaign ${name}.
                                        Attached nonExisting/redeemed codes, if any.
                                    </td>
                                </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>