<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Facebook sharing information tags -->
    <meta property="og:title" content="*|MC:SUBJECT|*" />
    <meta name="format-detection" content="telephone=no" />
    <title>*|MC:SUBJECT|*</title>
    <style type="text/css">
        /* Client-specific Styles */
            /* Client-specific Styles */
			#outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
			#outlook table{margin: 0 auto;}
			#outlook body{color: #000; font-size: 12px;margin:0; padding:0;}
			body{width:100% !important;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
			body { font-family:arial, helvetica, sans-serif; margin:0; padding:0;}
			img {border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
			table td {border-collapse:collapse; }
			#backgroundTable{height:100% !important; margin:0; padding:0; width:100% !important;}
                /****** EMAIL CLIENT BUG FIXES - BEST NOT TO CHANGE THESE ********/
			.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
				line-height: 100%;
				}
			.ExternalClass {width: 100%;}
			body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;} /* Prevents Webkit and Windows Mobile
                        platforms from changing default font sizes. */
                /****** END BUG FIXES ********/
                /****** RESETTING DEFAULTS, IT IS BEST TO OVERWRITE THESE STYLES INLINE ********/
			p {margin:0; padding:0; margin-bottom:0;}
		   h1, h2, h3, h4, h5, h6 {
			   color: black;
			   line-height: 100%;
			   }
		   a, a:link {
			   color:#0000ff;
			   text-decoration: underline;
			   }
               /****** END RESETTING DEFAULTS ********/
               /****** EDITABLE STYLES - FOR YOUR TEMPLATE ********/
			body, #body_style {

				font-family:Arial, Helvetica, sans-serif;
				font-size:12px;
				}
			  span.yshortcuts {  background-color:none; border:none;}
			  span.yshortcuts:hover,
			  span.yshortcuts:active,
			  span.yshortcuts:focus { background-color:none; border:none;}
			  /*Optional:*/
			  a:visited { color:#0000ff; text-decoration: none}
			  a:focus   { color:#0000ff; text-decoration: underline}
			  a:hover   { color:#0000ff; text-decoration: underline}
				/*Optimizing for mobil devices - (optional)*/
			@media only screen and (max-device-width: 480px) {
				   body[yahoo] #container1 {display:block !important}
				   body[yahoo] p {font-size: 10px}
			}

			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
				   body[yahoo] #container1 {display:block !important} /*example style*/
				   body[yahoo] p {font-size: 10px} /*example style*/
			}
       </style>
    </head>

  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" style=" font-family:Arial, Helvetica, sans-serif; font-size:12px" alink="#FF0000" link="#FF0000" text="#000000" yahoo="fix">
  <div id="body_style" style="padding:0">
<table id="main" width="550" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt; width: 550px;">
  <tr>
    <td>
        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;">
            <tr>
                <td align="left"><a href="http://freecharge.com/" style="display: block; background-color: #396db5; padding: 10px; text-decoration: none;font-size: 22px; color: #ffffff;"><img src="${imageprefix}/images/logo/freecharge.png" alt="freecharge.com" width="151"  height="34" style="display:block; height:34px; width:151px;" border="0"/></a></td>
            </tr>
        </table>
        <br><br>
        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;">
         <tr>
           <td style="font-size:14px; text-align:left; font-family: arial; text-transform: capitalize;" valign="bottom">Dear ${userfirstname},</td>
         </tr>
         <tr>
           <td style="font-size:14px; color: #000000; margin:0;  padding:20px 0 35px 0; text-align:left; font-weight:normal; font-family:Arial, Helvetica, sans-serif;" valign="top">Smile! Your payment for the transaction mentioned below was a smashing success and has been credited to your Balance.
           <br /><br />
           </td>
         </tr>
       </table>

<table width="100%" cellpadding="3" cellspacing="0" style="border-top: 1px solid #eeeeee;">
  <tr>

    <td valign="middle" width="17%" align="left" style="color: #888;font-family:Arial, Helvetica, sans-serif; font-size:12px; border-collapse: collapse; padding-bottom: 7px; padding-top: 7px;">Order Id</td>
    <td valign="middle" width="1%" style="color:#888; border-collapse: collapse; padding-bottom: 7px; padding-top: 7px;">:</td>
    <td valign="middle" style="font-size:12px; color:#333333; border-collapse: collapse; padding-bottom: 7px; padding-top: 7px;">&nbsp;&nbsp;&nbsp; <a style="color: #333; font-family:Arial, Helvetica, sans-serif; text-decoration: none;">${orderid}</a> </td>

    <td valign="middle" width="17%" align="left" style="color: #888;font-size:12px; border-collapse: collapse; padding-bottom: 7px; padding-top: 7px;">Payment Date</td>
    <td valign="middle" width="1%" style="color:#888; border-collapse: collapse; padding-bottom: 7px; padding-top: 7px;">:</td>
    <td valign="middle" style="font-size:12px; color:#333333; border-collapse: collapse; padding-bottom: 7px; padding-top: 7px;">&nbsp;&nbsp;&nbsp;${rechargedate}</td>
  </tr>

  <tr>
    <td colspan="6"><div style="height: 10px;">&nbsp;</div></td>
  </tr>
</table>


<table width="548" border="0" cellpadding="5" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; border:1px solid #eee;" >
  <tr bgcolor="#ffffff">
    <th align="center" width="50" style="padding-top: 9px; padding-bottom: 9px;font-size:12px; color:#ab7f32; "></th>
    <th align="left" style="padding-top: 9px; padding-bottom: 9px;font-size:12px;font-family:Arial, Helvetica, sans-serif; color:#ab7f32" colspan="2">Transaction details</th>
    <th align="right" style="padding-top: 9px; padding-bottom: 9px;font-size:12px;font-family:Arial, Helvetica, sans-serif; color:#ab7f32">Amount paid</th>
    <th width="15" align="right" style="padding-top: 9px; padding-bottom: 9px;font-size:12px; color:#ab7f32"></th>
  </tr>

  <tr bgcolor="#fefdf5">
    <td align="center" style="font-size:13px; color:#666666; line-height:24px;">1.</td>
    <td align="left"  style="font-size:13px;font-family:Arial, Helvetica, sans-serif; color:#333333" colspan="2">${paymentSource}<a style="color:#333; font-weight:bold; text-decoration: none;"></a></td>
    <td width="15" align="right" style="font-size:15px; color:#333333">${totalpaid}</td>
  </tr>

  <tr bgcolor="#fdf7d5">
    <td align="center" style="font-size:13px; color:#666666; padding-top: 7px; padding-bottom: 7px;"></td>
    <td align="left"  style="font-size:16px;font-family:Arial, Helvetica, sans-serif; color:#666666; padding-top: 7px; padding-bottom: 7px;" colspan="2">TOTAL PAID</td>
    <td align="right" style="font-size:20px;font-family:Arial, Helvetica, sans-serif; color:#333333; padding-top: 7px; padding-bottom: 7px; font-weight:bold">Rs.${totalpaid}</td>
    <td width="15" align="right" style="font-size:15px; padding-top: 7px; padding-bottom: 7px; color:#333333"></td>
  </tr>
</table>

<br /><br />

<table width="100%" cellpadding="0" cellspacing="0" border="0" >
  <tr>
    <td style="font-size:12px; margin: 0; padding:20px 0 5px 0; color:#000000; text-align:left; font-family:Arial, Helvetica, sans-serif;" valign="top" >Lots of love,</td>
  </tr>
  <tr>
    <td style="font-size:12px; margin: 0;  padding:0; color:#000000; text-align:left;font-family:Arial, Helvetica, sans-serif;" valign="top">The FreeCharge Family</td>
  </tr>
  <tr>
    <td style="font-size:12px; margin:0;  padding:20px 0 40px 0; color:#000000; text-align:left; font-weight:normal; font-family:Arial, Helvetica, sans-serif;" valign="top">This is a system-generated mail, please do not respond to this e-mail Id. Got a question or need clarifications? 
    You can either visit <a href="http://support.freecharge.in/">support.freecharge.in</a> or write in to <a href="mailto:care@freecharge.com">care@freecharge.com</a> we’ll get in touch with you asap.</td>
  </tr>
</table>

</td>
</tr>
</table>
</div>
</body>
</html>
